{% extends 'base.html.twig' %}


{% block body %}
    <h1>Register Enseignant</h1>
    <form method="POST">
        <div>
            <label for="">Titre du nouveau Projet</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Texte descriptif</label>
            <textarea name="id_matiere" cols="30" rows="10"></textarea>
        </div>
        <div>
            <label for="">URL d'une image représentative du projet :)</label>
            <input name="role"></input>
        </div>
        <div>
            <label for="">URL d'une image représentative du projet :)</label>
            <input name="password"></input>
        </div>
        <input type="submit">
    </form>
{% endblock %}

