{% extends 'base.html.twig' %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="page_acceuil">Acceuil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Deconnexion</a>
                </li>
            </ul>
        </div>
    </nav><br>


    <!-- Fin du Bootstrap-->
<body class="body2">
    <h1>Register Enseignant</h1>
    <form method="POST">
        <div>
            <label for="">Nom de L'enseignant</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Nom Matière</label>
            <input type="text" name="nom_matiere" >
        </div>
        <input type="submit">
    </form>
</body>
{% endblock %}

