{% extends 'base.html.twig' %}


{% block body %}
    <h1>Register Enseignant</h1>
    <form method="POST">
        <div>
            <label for="">Nom de L'enseignant</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Nom Matière</label>
            <input name="id_matiere" cols="30" rows="10"></input>
        </div>
        <input type="submit">
    </form>
{% endblock %}

